<div class="card">
    <h2>Product Details:{{SelectedProduct.productName}}</h2>
    <div class="component">
        <table>
            <colgroup>
                <col span="1" style="width: 20rem">
                <col span="1">
             </colgroup>

            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{SelectedProduct.productName}}</td>
                </tr>
                <tr>
                    <td>Code:</td>
                    <td>{{SelectedProduct.productCode}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{SelectedProduct.description}}</td>
                </tr>
                <tr>
                    <td>Availability</td>
                    <td>{{SelectedProduct.releaseDate}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{SelectedProduct.price}}</td>
                </tr>
                <tr>
                    <td>5 star rating</td>
                    <td>{{SelectedProduct.starRating}}</td>
                </tr>
            </tbody>
        </table>
        <img [src] = "SelectedProduct.imageUrl">
    </div>
</div>
