.card{
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
}
h2{
    padding: 1rem;
    background-color: #F8F9FC;
}
img{
    width: 200px;
    height: 200px;
}
.component{
    display: flex;
    justify-content: space-evenly;
}

td {
    width: 25rem;
}