<nav>
    <ul ngbNav #nav="ngbNav" class="nav-pills justify-content-center">
        <li ngbNavItem>
            <a ngbNavLink routerLink=''>Home</a>
        </li>
        <li ngbNavItem>
            <a ngbNavLink routerLink='products'>Products</a>
        </li>
    </ul> 
</nav>

<router-outlet></router-outlet>