<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&starf;</span>&starf;
    </span>
  </ng-template>

<div class="card" *ngIf="route.children.length === 0">
    <h2 class="card-header">Product List</h2>
    <div class="search">
        <p>Filter by:</p>
        <input type="text" [(ngModel)] = "searchBar" (input) = "Search()">
    </div>
    <h3 *ngIf="searchBar!=''">Filtered by:{{searchBar}}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"><button class="btn btn-primary" (click) = "ToggleImages()" ngbButton>{{imagesButton}}</button></th>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Available</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elemnt of prods.Products">
              <td><img *ngIf="showImages" [src]='elemnt.imageUrl'></td>
              <td>
                  <a [routerLink] ="[elemnt.productCode]">{{elemnt.productName}}</a>
              </td>
              <td>{{elemnt.productCode}}</td>
              <td>{{datepipe.transform(elemnt.releaseDate,'dd-MMM-YYYY')}}</td>
              <td>{{elemnt.price | currency:'USD':'symbol':'1.2-2'}}</td>
              <td><ngb-rating [(rate)]="elemnt.starRating" [starTemplate]="t" [max] = 5 [readonly]=true></ngb-rating></td>
            </tr>
            </tbody>
        <tbody>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>
