.card{
    width: 90vw;
    margin: auto;
    margin-top: 1rem;
}
h2{
    padding: 1rem;
    margin-bottom: 1rem;
}
.search{
    display: flex;
    padding-left: 3rem;
    width: 40vw;
    height: 2rem;
    margin-bottom: 1rem;
}
td > img{
    width: 100px;
    height: 75px;
}
h3{
    position: relative;
    padding-left: 3rem;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #F9BF3B;
  }