<div class="card">
    <h2>Welcome</h2>
    <div class="content">
        <div class="sep"></div>
        <img src='../../assets/pisica.jpg' class="tigrutzu">
        <div class="sep"></div>
        <p>Developed by</p>
        <h3>Paranici Iulian Stefan</h3>
        <p>@paranicistefan</p>
        <h4>For more projects:</h4>
        <a href="https://gitlab.com/stefanparanici" target="_blank">gitlab.com/stefanparanici</a> 
    </div>
</div>

