.card{
    margin: auto;
    margin-top: 2rem;
    width: 90vw;
    height: 120vh;
}
.sep{
    height: 5vh;
}
h2{
    padding: 1rem;
    background-color: #F8F9FC;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tigrutzu{
    width: 50vh;
    height: 60vh;
}